/* login */



  /* about us  */
  #about{
    padding: 30px 40px 30px 40px;
  }
  
  /* product */
  #product_slider{
    padding: 30px 40px 30px 40px;
  }

  .card>img{
    width: 200px;
    height: 180px;
  }

  .card>span>i{
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    color: rgb(205, 205, 205);
    border: 1px rgb(205, 205, 205) solid; 
    align-items: center;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    font-size: large;
    border-radius: 50%;
  }
  .fav{
    color: rgb(255, 0, 0);
    border: 1px rgb(255, 0, 0) solid;
  }


  /* testimonial */
  #testimonial{
    padding: 40px 40px 40px 40px;
  }
formData{
  padding: 30px 10px;
}
.card{
  margin-bottom: 10px;
}
  /* footer */
  footer{
    padding: 10px 30px 0px 30px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: rgb(215, 215, 215);
  }